/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --whitee-color: hsl(0, 0%, 96%);
  --blacck-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Space Grotesk", sans-serif;
  --biggest-font-size: 3rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 6.5rem;
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}




/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}



/*=============== HOME ===============*/
.home__container {
  padding-top: 7.7.5pcrem;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 320px;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
}

.home__subtitle {
  font-size: var(--normal-font-size);
  margin-bottom: .5rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  -webkit-text-stroke: 5px var(--blacck-color);
  color: var(--white-color);
  paint-order: stroke;
  filter: drop-shadow(-4px 4px 0 var(--blacck-color));
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.home__description {
  padding-inline: 1.75rem;
  margin-bottom: 2rem;
}

.home__button {
  display: inline-flex;
  background-color: var(--blacck-color);
  color: var(--whitee-color);
  font-weight: var(--font-bold);
  padding: 1rem 1.5rem;
  transition: box-shadow .4s;
}

.home__button:hover {
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, .2);
}

.home__images{
  position: relative;
}

.home__images [class*=home__blob]{
  background-color: var(--blacck-color);
  position: absolute;
}

.home__images [class*=home__img]{
  position: absolute;
}

.home__blob-1 {
  width: 150px;
  height: 180px;
  border-radius: 38% 62% 66% 34%/60% 41% 59% 40%;
  top: -2rem;
  left: -4rem;
  animation: blob-1 4s linear infinite;
}
.home__img-1 {
  width: 100px;
  top: .75rem;
  right: 1rem;
}

.home__blob-2 {
  width: 200px;
  height: 195px;
  border-radius: 59% 41% 19% 81%/34% 72% 28% 66%;
  top: -8rem;
  right: -8.5rem;
  animation: blob-2 4s linear infinite;
}
.home__img-2 {
  width: 120px;
  bottom: 5rem;
  left: 0;
}

.home__blob-3 {
  width: 200px;
  height: 190px;
  border-radius: 57% 43% 40% 60%/49% 34% 66% 51%;
  left: -5rem;
  bottom: -4.5rem;
  animation: blob-3 4s linear infinite;
}
.home__img-3 {
  width: 100px;
  top: 1rem;
  right: 2rem;
}

.home__blob-4 {
  width: 300px;
  height: 290px;
  border-radius: 78% 22% 20% 80%/53% 46% 54% 47%;
  right: -9rem;
  bottom: -4rem;
  animation: blob-4 4s linear infinite;
}
.home__img-4 {
  width: 200px;
  left: -1rem;
  bottom: 1rem;
}

.homee__img-5 {
  width: 150px;
  left: 0;
  right: -4rem;
  margin: 0 auto;
  top: 1rem;
  rotate: 15deg;
  z-index: -1;
}

/* Animate blobs */
@keyframes blob-1 {
  0%, 100% {
    border-radius: 38% 62% 66% 34%/60% 41% 59% 40%;
  }
  33% {
    border-radius: 59% 41% 55% 45%/64% 22% 78% 36%;
  }
  66% {
    border-radius: 59% 41% 35% 65%/46% 67% 33% 54%;
  }
}

@keyframes blob-2 {
  0%, 100% {
    border-radius: 59% 41% 19% 81%/34% 72% 28% 66%;
  }
  33% {
    border-radius: 78% 22% 20% 80%/53% 46% 54% 47%;
  }
  66% {
    border-radius: 57% 43% 40% 60%/49% 34% 66% 51%;
  }
}

@keyframes blob-3 {
  0%, 100% {
    border-radius: 57% 43% 40% 60%/49% 34% 66% 51%;
  }
  33% {
    border-radius: 51% 49% 30% 70%/37% 63% 37% 63%;
  }
  66% {
    border-radius: 51% 49% 28% 72%/77% 75% 25% 23%;
  }
}

@keyframes blob-4 {
  0%, 100% {
    border-radius: 78% 22% 20% 80%/53% 46% 54% 47%;
  }
  33% {
    border-radius: 65% 35% 42% 58%/64% 28% 72% 36%;
  }
  66% {
    border-radius: 32% 68% 46% 54%/29% 22% 78% 71%;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }

  .home__container {
    grid-template-rows: max-content 265px;
  }
  .home__images [class*=home__blob],
  .home__img-5 {
    scale: .7;
  }
  .home__title {
    font-size: 2rem;
  }
  .home__description {
    padding: 0;
  }
}

@media screen and (max-width: 400px) and (max-height: 650px) {
  .home__container {
    height: initial;
  }
}

@media screen and (min-width: 400px) and (max-height: 700px) {
  .home__container {
    height: initial;
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .home__container {
    grid-template-columns: 400px;
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .home__container {
    grid-template-columns: 1fr;
    padding-top: 10rem;
  }
  .home__subtitle {
    font-size: var(--big-font-size);
  }
  .home__title {
    -webkit-text-stroke-width: 8px;
    filter: drop-shadow(-8px 8px 0 var(--black-color));
  }
  .home__description {
    width: 480px;
    margin: 0 auto 3.5rem;
  }

  .home__blob-1 {
    width: 220px;
    height: 260px;
    top: -20rem;
    left: -1rem;
  }
  .home__img-1 {
    width: 180px;
  }

  .home__blob-2 {
    width: 360px;
    height: 355px;
    top: -27rem;
  }
  .home__img-2 {
    width: 280px;
  }

  .home__blob-3 {
    width: 500px;
    height: 485px;
    bottom: -11rem;
  }
  .home__img-3 {
    width: 250px;
    top: 3rem;
    left: 0;
    right: 0;
    margin-inline: auto;
  }

  .home__blob-4 {
    width: 500px;
    height: 485px;
    right: -7rem;
    bottom: -12rem;
  }
  .home__img-4 {
    width: 450px;
    left: -2rem;
    bottom: 3rem;
  }

  .home__img-5 {
    width: 250px;
    right: 0;
    top: 9rem;
  }
}

/* For taller devices */
@media screen and (min-width: 390px) and (min-height: 900px) {
  .home__container {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 800px) and (min-height: 1200px) {
  .home__container {
    padding-top: 15rem;
  }
}
