@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Chelsea+Market&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  font-weight: 400;
  font-style: normal;
  
}

.wwrapper,
.ccontent {
  position: relative;
  width: 100%;
  z-index: 1;
}
.iintro {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff0000;
/*   margin: 0 auto; */
}

.iintro h1 {
  font-size: 40px;
  font-family: "Beth Ellen", cursive;
	margin-bottom: 40px;
}
.iintro p  {
    font-size: 60px;
    font-family: "Chelsea Market", system-ui;
    font-weight: bolder;
}

.ccontent {
  overflow-x: hidden;
}

.ccontent .ssection {
  width: 100%;
  height: 100vh;
}
.ggradient-purple, .ggradient-blue {
  height: 50vh;
}
.ccontent .ssection.hhero {
  background-image: url(https://images.unsplash.com/photo-1512747646639-ed824d861e0d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s ease;
}


.iimage-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.iimage-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: relative;
  z-index: 1;
}



.ttest {
	text-align: center;
	
}

.ttest h2{
	font-size: 40px;
    font-family: "dm sans", system-ui;
    font-weight: bolder;
}

.ttest p{
font-size: 20px;
line-height: 1.3;
max-width: 55ch;
margin-inline: auto;
font-family: "dm sans", system-ui;
}

.ttest > * {
	margin: 0;
}

.ttest{
  position: relative;
  color: white;
  top: -20px;
   
}


